<mat-card>
	<mat-card-title>
		Review strategy
	</mat-card-title>
	<div class="card-block">
		<div class="row">
			<div class="col-sm-2 text-truncate">Researchers</div>
			<div class="col-sm-10 form-group">
				<p-autoComplete 
					[(ngModel)]="selectedResearchers"
					[suggestions]="results"
					[minLength]="0"
					[multiple]="true"	
					[dropdown]="false"
					[size]="30"
					styleClass="wid100"
					(completeMethod)="search($event)"
					(onDropdownClick)="handleDropdown($event)"
					(onSelect)="onSelectedResearcherChanged($event)"
					(onUnselect)="onSelectedResearcherChanged($event)"
					placeholder="Search for researchers"
					field="FirstName"
				>
				</p-autoComplete>
				<p class="text-muted form-group-info">
					Select the researchers that should participate in this stage	
				</p>
			</div>
		</div>
	</div>
	<div class="card-block">
		<div class="row">
			<div class="col-sm-2 text-truncate">Distribution</div>
			<div class="col-sm-10 form-group">
				<select class="form-control" [(ngModel)]="selectedPreset" (ngModelChange)="onPresetChange()">
					<option *ngFor="let preset of presets" [ngValue]="preset">{{preset.Name}}</option>
				</select>
				<p class="text-muted form-group-info">
					This is a preset for how to distribute tasks between researchers. You can change to a custom configuration by draging the bars below.
				</p>
			</div>
		</div>
	</div>
	<div class="card-block">
		<div class="row">
			<div class="col-sm-2 text-truncate">Coverage</div>
			<div class="col-sm-9">
				<div class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
					<div 
						*ngFor="let range of coverage"
						class="ui-slider-range ui-widget-header ui-corner-all"
						[style.left]="range[0] + '%'" 
						[style.width]="range[1] + '%'"
					>
					</div>
				</div>
			</div>
			<div class="col-sm-1">
			{{coveragePercent}}%	
			</div>

			<div *ngFor="let researcher of selectedResearchers">
				<div class="col-sm-2 text-truncate">{{researcher.FirstName}}</div>
				<div class="col-sm-9">
				<p-slider [(ngModel)]="researcher.Range" (ngModelChange)="onRangeChange()" animation="true" [range]="true"></p-slider>
				</div>
				<div class="col-sm-1">
					{{researcher.Range[1] - researcher.Range[0]}}%
				</div>
			</div>
		</div>
	</div>
	<div class="card-block" *ngIf="!checkIfValid()">
		<p-messages [value]="msgs" [closable]="false"></p-messages>
	</div>
	<mat-card-actions>
		<button (click)="save()" class="btn btn-primary" [disabled]="!isValid">Save</button>
	</mat-card-actions>
</mat-card>
