<mat-card>
  <mat-card-header>
    <h5>Inclusion/exclusion criteria</h5>
    <p class="text-muted">Configure how you want to determine which articles are relevant or not</p>
  </mat-card-header>

  <mat-card-content>
    <input type="text" [formControl]="term" placeholder="search by field name" />
  </mat-card-content>
  <button (click)="save()" class="btn btn-primary">Save</button>
</mat-card>

<div *ngIf="model" class="row">

  <div class="col-sm-6">
    <mat-card>
      <mat-card-title>
        <h5>Inclusion criteria</h5>
      </mat-card-title>
      <mat-card-content>
        <div>
          <button (click)="addInclusion(field)" class="btn btn-secondary btn-sm" *ngFor="let field of fields | async">
              <i class="fa fa-plus"></i> {{field.Name}}
          </button>
        </div>
        <a *ngIf="model.Inclusions.length == 0">You have no inclusion criteria</a>
        <div *ngIf="model.Inclusions.length > 0">
          <div class="ui-g">
            <div class="ui-g-1"></div>
            <div class="ui-g-4 text-muted">field name</div>
            <div class="ui-g-3 text-muted">operator</div>
            <div class="ui-g-4 text-muted">value</div>
          </div>
          <div class="ui-g" *ngFor="let inclusion of model.Inclusions; let i = index">
            <div class="ui-g-1"><button (click)="model.Inclusions.splice(i,1)" class="btn btn-secondary btn-sm">x</button></div>
            <dyn-criteria class="ui-g-11" [criteria]="inclusion"></dyn-criteria>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-sm-6">
    <mat-card>
      <mat-card-title>
        <h5>Exclusion criteria</h5>
      </mat-card-title>
      <mat-card-content>
        <div>
          <button (click)="addExclusion(field)" class="btn btn-secondary btn-sm" *ngFor="let field of fields | async">
              <i class="fa fa-plus"></i> {{field.Name}}
          </button>
        </div>
        <a *ngIf="model.Exclusions.length == 0">You have no exclusion criteria</a>
        <div *ngIf="model.Exclusions.length > 0">
          <div class="ui-g">
            <div class="ui-g-1"></div>
            <div class="ui-g-4 text-muted">field name</div>
            <div class="ui-g-3 text-muted">operator</div>
            <div class="ui-g-4 text-muted">value</div>
          </div>
          <div class="ui-g" *ngFor="let exclusion of model.Exclusions; let i = index">
            <div class="ui-g-1"><button (click)="model.Exclusions.splice(i,1)" class="btn btn-secondary btn-sm">x</button></div>
            <dyn-criteria class="ui-g-11" [criteria]="exclusion"></dyn-criteria>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
