<div class="container">
  <h1>Welcome to ReviewIT</h1>
  <h5>Disclaimer:</h5>
  <h6>this release has no security precautions in place, which means that all data provided to reviewit is publically available.</h6>

  <mat-card *cardInit="obs">
    <mat-card-title>
      <h2>Please identify yourself</h2>
    </mat-card-title>
    <mat-card-content>
      <mat-grid-list cols="8" rowHeight="100px">
        <mat-grid-tile [colspan]="3">
          <form class="col-sm-9">
            <div class="col-sm-9">
              <input id="name" type="text" class="form-control" required [(ngModel)]="newUser.FirstName" name="name" placeholder="enter a name">
            </div>
            <button type="submit" (click)="create()" class="btn"><i class="fa fa-plus"></i></button>
          </form>
        </mat-grid-tile>
        <mat-grid-tile (click)="selectUser(user)" *ngFor="let user of model" class="user">
          <h6>{{user.FirstName}}</h6>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
  </mat-card>
</div>
