
.container{
  background: gainsboro;
}

.mat-card{
  background: darkcyan;
}
.mat-grid-tile.user{
    background-color: lightgray;
    cursor: pointer;
}
.mat-grid-tile.user:hover{
    background-color: #0084FF;
    color: white;
}
