<div class="container">
    <mat-card>
        <button [routerLink]="['studydetails']"     [routerLinkActive]="['btn-primary']" class="btn">Study Details</button>
        <button [routerLink]="['studysources']"     [routerLinkActive]="['btn-primary']" class="btn">Study Sources</button>
        <button [routerLink]="['fieldeditor']"      [routerLinkActive]="['btn-primary']" class="btn">Datafield Editor</button>
        <button [routerLink]="['criteriaconfig']"   [routerLinkActive]="['btn-primary']" class="btn">Study Criteria</button>
        <button [routerLink]="['members']"          [routerLinkActive]="['btn-primary']" class="btn">Study Members</button>
        <button [routerLink]="['stagelist']"        [routerLinkActive]="['btn-primary']" class="btn">Stages</button>
        <button (click)="startStudy()" class="btn btn-success pull-xs-right">Start Study</button>
    </mat-card>

    <router-outlet></router-outlet>
</div>
